<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/spacer.ejs') %>

    <div class="container pb-5 new-play-form">
        <form action="/plays/<%= play.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h1>Edit Play Details</h1>
            <!-- TITLE -->
            <div class="row">
                <div class="col-8">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" placeholder="required" name="title" value="<%= play.title %>"/>
                </div>
                <!-- GENRE -->
                <div class="col-4">
                    <label for="genre">Genre</label>
                    <input type="text" class="form-control" placeholder="Genre" name="genre" value="<%= play.genre %>"/>
                </div>
            </div>
            <!-- LENGTH -->
            <div class="row justify-content-center pt-3 pb-3">
                <div class="form-check form-check-inline col-3">
                    <input class="form-check-input" type="radio" id="fullLength" name="length" value="fullLength">
                    <label class="form-check-label" for="fullLength">Full-Length</label>
                </div>
                <div class="form-check form-check-inline col-3">
                    <input class="form-check-input" type="radio" id="oneAct" name="length" value="oneAct">
                    <label class="form-check-label" for="oneAct">One-Act</label>
                </div>
                <div class="form-check form-check-inline col-3">
                    <input class="form-check-input" type="radio" id="short" name="length" value="short">
                    <label class="form-check-label" for="short">Short</label>
                </div>
            </div>
            <!-- CASTING -->
            <div class="row">
                <div class="col-3">
                    <label for="castSize">Cast Size</label>
                    <input type="text" class="form-control" placeholder="number (range)" name="castSize" value="<%= play.castSize %>"/>
                </div>
                <div class="col-3">
                    <label for="castingMale"># Male Chars.</label>
                    <input type="text" class="form-control" placeholder="number" name="castingMale" value="<%= play.castingMale %>"/>
                </div>
                <div class="col-3">
                    <label for="castingFemale"># Female Chars.</label>
                    <input type="text" class="form-control" placeholder="number" name="castingFemale" value="<%= play.castingFemale %>"/>
                </div>
                <div class="col-3">
                    <label for="castingNeutral"># G.N. Chars.</label>
                    <input type="text" class="form-control" placeholder="number" name="castingNeutral" value="<%= play.castingNeutral %>"/>
                </div>
            </div>
            <div class="row mt-3">
                <label for="specialCasting">Special Casting Considerations</label>
                <input type="text" class="form-control" id="specialCasting" name="specialCasting" value="<%= play.specialCasting %>"/>
            </div>       
            <!-- SYNOPSIS -->
            <div class="form-group mt-3">
                <label for="synopsis">Synopsis</label>
                <textarea class="form-control" id="synopsis" name="synopsis" rows="5" ><%= play.synopsis %></textarea>
            </div>
            <!-- DIALOGUE -->
            <div class="form-group">
                <label for="dialogue">Dialogue Sample</label>
                <input type="text" class="form-control" id="dialogue" name="dialogue" value="<%= play.dialogue %>"/>
            </div>
            <!-- DEVELOPMENT HISTORY -->
            <div class="form-group">
                <div id="dev-info">
                    <label for="development">Development History</label>
                    <% for (let i=0; i<play.development.length; i++) { %>
                    <input type="text" class="form-control dev-array" id="development" name="development" value="<%= play.development[i] %>"/>
                    <% } %>
                </div>
                <button type="button" class="dev-button btn-lite" id="development">Add Another</button>
            </div>
            <!-- HONORS -->
            <div class="form-group">
                <div id="honors-info">
                    <label for="honors">Honors/Awards</label>
                    <% for (let i=0; i<play.honors.length; i++) { %>
                        <input type="text" class="form-control honors-array" id="honors" name="honors" value="<%= play.honors[i] %>"/>
                    <% } %>
                </div>
                <button type="button" class="honors-button btn-lite" id="honors">Add Another</button>
            </div>
            <!-- BACKSTORY -->
            <div class="form-group">
                <label for="story">Inspiration/Backstory</label>
                <textarea class="form-control" id="story" name="story" rows="5"><%= play.story %></textarea>
            </div>
            <!-- IMAGE -- CHECK OUT BS-CUSTOM-FILE-INPUT-NPM TO MAKE FILE BROWSER DYNAMIC-->
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="prodStill" name="prodStill" value="<%= play.prodStill %>">
                <label class="custom-file-label" for="prodStill" placeholder="Upload Image"><%= play.prodStill %></label>
            </div>
            <!--SUBMIT BUTTON -->
            <input type="submit" class="btn-lite btn-lg mt-3" id="submit-btn" value="SUBMIT">
        </form>
        </div>

    <!-- <h1>Edit Play Details</h1>
    <form action="/plays/<%= play.id %>?_method=PUT" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= play.title %>"><br/>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" value="<%= play.genre %>"><br/> -->

        <!-- <p>Length:</p>
        <label for="fullLength">Full-Length:</label>
        <input type="radio" id="fullLength" name="length" value="fullLength"><br/>
        <label for="one-act">One-Act:</label>
        <input type="radio" id="oneAct" name="length" value="oneAct"><br/>
        <label for="short">Short:</label>
        <input type="radio" id="short" name="length" value="short"><br/> -->

        <!-- <label for="synopsis">Synopsis:</label>
        <input type="text" id="synopsis" name="synopsis" value="<%= play.synopsis %>"><br/>
        <label for="dialogue">Dialogue Sample:</label>
        <input type="text" id="dialogue" name="dialogue" value="<%= play.dialogue %>"><br/> -->

        <!-- <p>Casting Needs:</p>
        <label for="castSize">Total Cast Size:</label>
        <input type="text" id="castSize" name="castSize" value="<%= play.castSize %>" placeholder="number"><br/>
        <label for="castingMale">Male-Identified:</label>
        <input type="text" id="castingMale" name="castingMale" value="<%= play.castingMale %>" placeholder="number"><br/>
        <label for="castingFemale">Female-Identified:</label>
        <input type="text" id="castingFemale" name="castingFemale" value="<%= play.castingFemale %>" placeholder="number"><br/>
        <label for="castingNeutral">Gender Neutral:</label>
        <input type="text" id="castingNeutral" name="castingNeutral" value="<%= play.castingNeutral %>" placeholder="number"><br/>
        <label for="specialCasting">Special Casting Considerations:</label>
        <input type="text" id="specialCasting" name="specialCasting" value="<%= play.specialCasting%>"><br/>

        <p>Play History:</p> -->
 <!-- DEVELOPMENT -->

        <!-- <label for="development">Development History:</label>

        <div id="dev-info">
            <% for (let i=0; i<play.development.length; i++) { %>
                <input type="text" name="development" class="dev-array" value="<%= play.development[i] %>"> <br/>
            <% } %>
        </div> -->

        <!-- <button type="button" class="dev-button" id="development">Add Another</button><br/>
 HONORS -->
        <!-- <label for="honors">Honors:</label>
        <div id="honors-info">
            <% for (let i=0; i<play.honors.length; i++) { %>
                <input type="text" name="honors" class="honors-array" value="<%= play.honors[i] %>"> <br/>
            <% } %>
        </div>
        <button type="button" class="honors-button">Add Another</button><br/> --> 


        <!-- <label for="story">Inspiration/Interesting Story</label>
        <textarea id="story" name="story" rows="4" value="<%= play.story %>"></textarea><br/>

        <label for="prod-still">Image Upload:</label>
        <input type="file" id="prod-still" name="prod-still"><br/> -->
        
        <!-- <input type="submit" id="submit-btn" value="SUBMIT">
    </form> -->

    <%- include('./partials/footer.ejs') %>

</body>
</html>