<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body id="index-page">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/spacer.ejs') %>
    <div class="container-fluid">
        <div class="row index-intro">
            <h2 class="index-heading">THE PLAYS</h2>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <img  class="overpass" alt="Actors rehearse a play" src="images/AVBM_overpass.jpg" />
            </div>
            <div class="col-lg-2">
            </div>
            <div class="length-divs long-plays">
                <h3 class="length">LONG ONES</h3>
                <div class="d-flex flex-column" >
                <% for(let i=0; i<plays.length; i++) { %>
                    <% if (plays[i].length === "fullLength") { %>
                        <p><a class="play" href='/plays/<%= plays[i].id %>'><%= plays[i].title %></a></p>
                        <% if(currentUser) { %>
                        <form action="/plays/<%= plays[i].id %>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE">
                        </form>
                        <a href="/plays/<%= plays[i].id %>/edit">Edit</a>
                        <% } %>
                    <% } %>
                <% } %>
                </div>
            </div>
            <div class="length-divs short-plays">
                <h3 class="length">SHORT ONES</h3>
                <div class="d-flex flex-column" >
                <% for(let i=0; i<plays.length; i++) { %>
                    <% if (plays[i].length === "oneAct" || plays[i].length === "short") { %>
                        <p><a class="play" href='/plays/<%= plays[i].id %>'><%= plays[i].title %></a></p>
                        <% if(currentUser) { %>
                        <form action="/plays/<%= plays[i].id %>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE">
                        </form>
                        <a href="/plays/<%= plays[i].id %>/edit">Edit</a>
                        <% } %>
                    <% } %>
                <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- <div class="length-divs long-plays">
            <h3 class="length">LONG ONES</h3>
            <div class="d-flex flex-column" >
            <% for(let i=0; i<plays.length; i++) { %>
                <% if (plays[i].length === "fullLength") { %>
                    <p><a class="play" href='/plays/<%= plays[i].id %>'><%= plays[i].title %></a></p>
                    <% if(currentUser) { %>
                    <form action="/plays/<%= plays[i].id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                    <a href="/plays/<%= plays[i].id %>/edit">Edit</a>
                    <% } %>
                <% } %>
            <% } %>
            </div>
        </div> -->
        <!-- <div class="length-divs short-plays">
            <h3 class="length">SHORT ONES</h3>
            <div class="d-flex flex-column" >
            <% for(let i=0; i<plays.length; i++) { %>
                <% if (plays[i].length === "oneAct" || plays[i].length === "short") { %>
                    <p><a class="play" href='/plays/<%= plays[i].id %>'><%= plays[i].title %></a></p>
                    <% if(currentUser) { %>
                    <form action="/plays/<%= plays[i].id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                    <a href="/plays/<%= plays[i].id %>/edit">Edit</a>
                    <% } %>
                <% } %>
            <% } %>
            </div>
        </div> -->
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>