<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link 
        rel="stylesheet" 
        type="text/css" href="/css/index.css">
</head>
<body class="index">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/spacer.ejs') %>
    <header class="index__header">
        <h1 class="index__header--heading index--heading">THE PLAYS</h1>
        <img  class="index__header--img" alt="Actors rehearse a play" src="images/AVBM_overpass.jpg" />
    </header>

    <main class="index__plays">
        <section>
            <h3 class="index--heading index__length--heading">LONG ONES</h3>
            <div class="index__plays--display">
                <% for(let i=0; i<plays.length; i++) { %>
                    <% if (plays[i].length === "fullLength") { %>
                        <div class="index__plays--thumbnail">
                            <a href='/plays/<%= plays[i].id %>'>
                                <img class="index__plays--img" src='<%= plays[i].prodStill %>'/>
                            </a>
                            <p><%= plays[i].title %></p> 
                            <% if(currentUser) { %>
                                <div class="index__btn--display">
                                    <form action="/plays/<%= plays[i].id %>?_method=DELETE" method="POST">
                                        <input class="btn btn--danger" type="submit" value="DELETE">
                                    </form>
                                <a class="btn btn--secondary" href="/plays/<%= plays[i].id %>/edit">Edit</a>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </section>

        <section>
            <h3 class="index--heading index__length--heading">SHORT ONES</h3>
            <div class="index__plays--display">
                <% for(let i=0; i<plays.length; i++) { %>
                    <% if (plays[i].length === "oneAct" || plays[i].length === "short") { %>
                        <div class="index__plays--thumbnail">
                            <a href='/plays/<%= plays[i].id %>'>
                                <img class="index__plays--img" src='<%= plays[i].prodStill %>'/>
                            </a>
                            <p><%= plays[i].title %></p>
                            <% if(currentUser) { %>
                                <div class="index__btn--display">
                                    <form action="/plays/<%= plays[i].id %>?_method=DELETE" method="POST">
                                        <input class="btn btn--danger" type="submit" value="DELETE">
                                    </form>
                                    <a class="btn btn--secondary" href="/plays/<%= plays[i].id %>/edit" role="button">Edit</a>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>