<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body class="show-page">

    <%- include('./partials/header.ejs') %>
    <%- include('./partials/spacer.ejs') %>
    
    <div class="show-photo-display">
        <% if(play.prodStill) { %>
            <img class="play-photo" alt="production still" src="<%= play.prodStill %>">
            <h2 class="title-display"> <%= play.title %></h2>
            <% if(play.dialogue) { %>
            <h4 class="dialogue-display"> <%= play.dialogue %></h4>
            <% } %>
        <% } else { %>
            <div class="no-photo">
                <div class="no-photo-title">
                    <%= play.title %>
                </div>
                <div class="no-photo-dialogue">
                    <%= play.dialogue %>
                </div>
            </div>
        <%} %>  
    </div>

    <div class="details-div">
        <h3 class="script-breakdown">SYNOPSIS</h3>
        <div class="synopsis">
            <div class="genre-length">
                <div class="genre">
                    <h6 class="play-details" id="genre"><b>GENRE:</b></h6>
                    <p"> <%= play.genre %></p>
                </div>
                <div class="play-length">
                    <h6 class="play-details"><b>LENGTH:</b></h6> 
                    <% if(play.length === "fullLength") { %>
                        <p >Full-Length</p>
                    <% } else if (play.length === "oneAct") { %>
                        <p>One-Act</p>
                    <%} else if (play.length === "short") { %>
                        <p >Short</p>
                    <% } %>
                </div>
            </div>
            <p class="synopsis-text"> <%= play.synopsis %></p>
            <div class="casting-needs">
            <h6 class="details-head">TOTAL CAST: <%= play.castSize %></h6> 
            <p>(
                <% if (play.castingMale) { %>
                    M: <%= play.castingMale %>,
                <% } %>
                <% if (play.castingFemale) { %>
                    F: <%= play.castingFemale %>,
                <% } %>
                <% if (play.castingNeutral) { %>
                    Gender-Neutral: <%= play.castingNeutral %>   
                <% } %>
                )
            </p>
            <% if (play.specialCasting) { %>
                <h6 class="details-head">SPECIAL CASTING NEEDS:</h6> 
                <p><%= play.specialCasting %></p>   
            <% } %>
            </div>
        </div>
    </div>     

    <% if (play.honors[0] || play.development[0]) { %>
    <div class="details-div">
        <div class="play-history">
                 <!-- HONORS -->
            <% if (play.honors[0]) { %>
                <h6 class="details-head">HONORS</h6>
                <ul>
                <% for (let i=0; i<play.honors.length; i++) { %>
                    <li><%= play.honors[i] %></li>
                <% } %>
                </ul> 
            <% } %>
                <!-- DEVELOPMENT -->
            <% if (play.development[0]) { %>
                <h6 class="details-head">DEVELOPMENT HISTORY</h6>
                <ul>
                <% for (let i=0; i<play.development.length; i++) { %>
                    <li><%= play.development[i] %></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>
    <% } %>

    <%- include('./partials/footer.ejs') %>
</body>
</html>