<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link 
        rel="stylesheet" 
        type="text/css" href="/css/show.css">
</head>
<body class="details">
    <%- include('./partials/header.ejs') %>    
    <header class="details__header">
        <h1 class="details__header--title">
            <%= play.title %>
        </h1>
        <% if(play.dialogue) { %>
            <p class="details__header--quote">
                <%= play.dialogue %>
            </p>
        <% } %>
        <% if(play.prodStill) { %>
            <img class="details__header--img" alt="production photo" src="<%= play.prodStill %>">
        <% } else { %>
            <img class="details__header--img" alt="The exterior of a theatre" src="/images/PBD_exterior(large).jpg">
        <%} %>  
    </header>

    <main class="details__summary">
        <section class="details__summary--inset">
            <h2 class="details__summary--heading">SYNOPSIS</h2>
            <div class="details__summary--display">
                <div class="details--row">
                    <div class="details--category">
                        <p><b>GENRE:</b> <%= play.genre %></p>
                    </div>
                    <div class="details--category">
                        <p><b>LENGTH: </b>   
                            <% if(play.length === "fullLength") { %>
                                Full-Length
                            <% } else if (play.length === "oneAct") { %>
                                One-Act
                            <%} else if (play.length === "short") { %>
                                Short
                            <% } %>
                        </p> 
                    </div>
                </div>
                <p class="details__summary--synopsis"> <%= play.synopsis %></p>
                <div class="details__casting">
                    <h3 class="details__heading">
                        TOTAL CAST: <%= play.castSize %>
                    </h3> 
                    <p><% if (play.castingMale) { %>
                            Male: <%= play.castingMale %>  
                        <% } %>
                        <% if (play.castingFemale) { %>
                            Female: <%= play.castingFemale %>  
                        <% } %>
                        <% if (play.castingNeutral) { %>
                            Gender-Neutral: <%= play.castingNeutral %>   
                        <% } %></p>
                    <% if (play.specialCasting) { %>
                        <h3 class="details__heading">
                            SPECIAL CASTING NEEDS:
                        </h3> 
                        <p><%= play.specialCasting %></p>   
                    <% } %>
                </div>
            </div>
        </section>     

        <% if (play.honors[0] || play.development[0]) { %>
        <section class="details__summary--inset">
            <div class="details__summary--display">

                <% if (play.honors[0]) { %>
                    <h3 class="details__heading">HONORS</h3>
                    <ul class="details__history">
                    <% for (let i=0; i<play.honors.length; i++) { %>
                        <li><%= play.honors[i] %></li>
                    <% } %>
                    </ul> 
                <% } %>

                <% if (play.development[0]) { %>
                    <h3 class="details__heading">DEVELOPMENT HISTORY</h3>
                    <ul class="details__history">
                    <% for (let i=0; i<play.development.length; i++) { %>
                        <li><%= play.development[i] %></li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </section>
        <% } %>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>