<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <%- include('./partials/header.ejs') %>
    <%- include('./partials/spacer.ejs') %>
    
        <div class="show-photo-display">
                <% if(play.prodStill) { %>
                    <img class="play-photo" alt="production still" src="<%= play.prodStill %>">
                    <h2 class="play-details title-display"> <%= play.title %></h2>
                <% if(play.dialogue) { %>
                    <!-- <div class="dialogue-row"> -->
                        <h4 class="play-details dialogue-display"> <%= play.dialogue %></h4>
                    <!-- </div> -->
                    <% } %>
                <% } else { %>
                    <div class="no-photo">
                        <div class="no-photo-title">
                        <%= play.title %>
                        </div>
                        <div class="no-photo-dialogue">
                            <%= play.dialogue %>
                        </div>
                    </div>
                <%} %>  
        </div>

    <div class="container details-div mt-4">
        <h3 class="script-breakdown m-3">SCRIPT BREAKDOWN</h3>
        <div class="container">
            <div class="synopsis p-3">
                <h6 class="play-heading">SYNOPSIS</h6>
                <p class="play-details"> <%= play.synopsis %></p>
            </div>
        </div>

        <div class="container overview">
            <div class="row justify-content-around mt-3 mb-3">
                    <p class="play-details" id="genre"><b>GENRE:</b> <%= play.genre %></p>
                    <% if(play.length === "fullLength") { %>
                
                    <p class="play-details"><b>LENGTH:</b> Full-Length</p>
                    <% } else if (play.length === "oneAct") { %>
                        <p class="play-details"><b>LENGTH:</b> One-Act</p>
                    <%} else if (play.length === "short") { %>
                        <p class="play-details"><b>LENGTH:</b> Short</p>
                    <% } %>
                
                    <p class="play-details"><b>TOTAL CAST:</b> <%= play.castSize %> (
                        <% if (play.castingMale) { %>
                            M: <%= play.castingMale %>,
                        <% } %>
                        <% if (play.castingFemale) { %>
                            F: <%= play.castingFemale %>,
                        <% } %>
                        <% if (play.castingNeutral) { %>
                            Gender-Neutral: <%= play.castingNeutral %>   
                        <% } %>
                        )
                    </p>
            </div>     
            <% if (play.specialCasting) { %>
            <div class="row">
                <div class="col">
                    <p class="play-details casting-needs"><b> SPECIAL CASTING NEEDS:</b> <%= play.specialCasting %></p>
                </div>
            </div>
            <% } %>
            <div class="row">
                <div class="col-md">
                        <!-- HONORS -->
                        <% if (play.honors == '') { %>
                            <% let i = 0 %>
                        <% } else { %>
                            <h6 class="play-heading">HONORS</h6>
                            <ul>
                            <% for (let i=0; i<play.honors.length; i++) { %>
                                <li class="play-details"><%= play.honors[i] %></li>
                            <% } %>
                            </ul> 
                        <% } %>
                </div>
                <div class="col-md">
                    <!-- DEVELOPMENT -->
                    <% if (play.development == "") { %>
                        <!-- Only way I could get it to not print the Development History header. !play.development doesn't work. If I simply have a positive if statement, the footer appears in Dev History's place -->
                    <% } else { %>
                        <h6 class="play-heading">DEVELOPMENT HISTORY</h6>
                        <ul>
                        <% for (let i=0; i<play.development.length; i++) { %>
                            <li class="play-details"><%= play.development[i] %></li>
                        <% } %>
                        </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>