<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h1>Show Page</h1>
    <a href='/plays'>INDEX PAGE</a>


    <h2> <%= play.title %></h2>
    <p> <%= play.synopsis %></p>
    <p> <%= play.casting %></p>
    <p> <%= play.development %></p>
    <p> <%= play.honors %></p>
    <p> <%= play.dialogue %></p>

    <img src='<%= play.img %>'>

</body>
</html>